@media screen and(max-width:767px) {
  .site-nav {
    width: 100%;
    display: none;
  }
  .mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(0);
    width: 100vw;
    height: 100vh;
    background-color: var(--text-title-white);

    padding: 48px 40px;
    transition: 500ms var(--timing-function);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &.is-open {
      transform: translateX(-50%) translateY(0%) scale(1);
    }
    &__btn-close,
    &__burger-btn {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
      padding: 0;
    }
    &__icon-close,
    &__burger-icon {
      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
      width: 24px;
      height: 16px;
      fill: #000000;
    }

    &__btn-close {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    &__link {
      @media screen and(max-width:480px) {
        @include font($fs: 27px, $fw: 500, $lh: 31px, $ls: 0.02em);
      }
      @include font($fs: 40px, $fw: 500, $lh: 47px, $ls: 0.02em);
      color: var(--title-text-color);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    &__link-current {
      color: var(--accent-color);
    }
  }
  .contact-list-mob {
    margin-top: auto;
    margin-bottom: 64px;
    &__item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    &__link-mail {
      @media screen and(max-width:480px) {
        @include font($fs: 16px, $fw: 500, $lh: 19px, $ls: 0.02em);
      }

      @include font($fs: 24px, $fw: 500, $lh: 28px, $ls: 0.02em);
      color: var(--general-color-text);
    }
    &__link-tel {
      @media screen and(max-width:480px) {
        @include font($fs: 23px, $fw: 500, $lh: 26px, $ls: 0.02em);
      }
      @include font($fs: 34px, $fw: 500, $lh: 40px, $ls: 0.02em);
      color: var(--accent-color);
      white-space: nowrap;
    }
  }
  .social-mob {
    display: inline-flex;
    justify-content: flex-start;
    &__item {
      &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
      }
    }

    &__link {
      display: block;
      @media screen and(max-width:480px) {
        @include font($fs: 12px, $fw: 500, $lh: 13px, $ls: 0.02em);
      }
      @include font($fs: 18px, $fw: 500, $lh: 22px, $ls: 0.02em);
      color: var(--accent-color);
      margin-right: 10px;
    }
  }
}

@media screen and(min-width:768px) {
  .mobile-menu__burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .site-nav {
    display: flex;

    @media screen and(min-width:768px) {
      margin-left: 88px;
    }
    @media screen and(min-width:1200px) {
      margin-left: 93px;
    }

    &__link {
      display: block;
      position: relative;
      color: var(--title-text-color);
      @include font($fw: 500, $ls: 0.02em);
      text-decoration: none;
      padding-top: 32px;
      padding-bottom: 32px;

      transition: color var(--timing-function) var(--timing250ms);

      &--current::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 2px;

        transition: var(--timing250ms) var(--timing-function);
      }

      &--current:hover::after {
        transform: scaleX(1.5);
      }

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
      &--current {
        color: var(--accent-color);
        text-decoration: none;
        @include font($fw: 500, $ls: 0.02em);
      }
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation {
  @include flex;
}

/* site-nav */
