.contacts-list {
  display: none;
  @media screen and(min-width:768px) {
    display: inline-block;
    @include font($fs: 12px, $fw: 500, $lh: 14px, $ls: 0.02em);
  }
  @media screen and(min-width:1200px) {
    display: flex;
    @include font($fs: 14px, $fw: 500, $lh: 16px, $ls: 0.02em);
  }

  margin-left: auto;

  &__item {
    &:first-child {
      @media screen and(max-width:1199px) {
        margin-bottom: 10px;
      }
    }

    &:not(:last-child) {
      @media screen and (min-width: 1200px) {
        margin-right: 50px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--general-color-text);
    text-decoration: none;

    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }

    transition: color var(--timing-function) var(--timing250ms);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon-tel,
  &__icon-mail {
    margin-right: 8px;
    fill: currentColor;
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
  &__icon-mail {
    @media screen and(min-width:768px) {
      width: 14px;
      height: 10px;
    }

    @media screen and(min-width:1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &__icon-tel {
    @media screen and(min-width:768px) {
      width: 10px;
      height: 14px;
    }

    @media screen and(min-width:1200px) {
      width: 10px;
      height: 16px;
    }
  }
}

.contacts-ft {
  &__address {
    @media screen and(max-width:1199px) {
      margin-bottom: 8px;
    }

    color: var(--text-title-white);

    font-style: normal;
    @include font($fs: 14px, $fw: 400, $lh: 24px);
    margin-bottom: 9px;
    margin-top: 0px;
  }

  &__info {
    color: var(--general-color-text);
    font-style: normal;
    @include font($fs: 14px, $fw: 400, $lh: 24px);
    text-decoration: none;
  }

  &__item:first-child {
    @media screen and(max-width:1199px) {
      &:first-child {
        margin-bottom: 8px;
      }
    }
    display: block;
    margin-bottom: 9px;
  }
}
