.container-centering {
  width: 100%;
  text-align: center;

  padding: 0 15px;
  .page-header & {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hero {
    max-width: 696px;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// .page-header__container-centering {
//   display: flex;
//   justify-content: space-between;
//   text-align: left;
//   align-items: center;
// }
